body {
    font-family: 'Roboto', sans-serif;

    line-height: 22px;
    font-weight: 300;
    color: #07173D;
}

a {
    text-decoration: none;
    color: #07173D;
}

a:hover {
    /*box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);*/
}

h1 {
    font-weight: 500;
}
h3 {
    text-align: center;
}

header, footer {
    width: 85%;
    min-height: 20px;

    margin: 0 auto;
    padding: 10px 25px;

    text-align: center;

    color: #ffffff;
    background-color: #07173D;
}

/* H E A D E R */
header {
    display: flex;
    position: fixed;

    top: 0;
    right: 0;
    left: 0;

    margin: 0 auto;

}

header div {
    flex-grow: 1;
    line-height: 0.9;
}

.header-logo {
    background: url("img/polytechLogoInverted.png") no-repeat center;
    background-size: contain;
}

/* M A I N */
main {
    width: 75%;
    min-height: 200px;

    padding: 25px 35px;
    margin: 100px auto 60px auto;

    color: black;
    background-color: #E7EDF7;
    /*background-color: #c4cad4;*/
}


.ok {
    padding: 10px 20px;
    margin-top: 25px;
    margin-bottom: 15px;
    background-color: #afe954;
}
.ok-uploaded {
    margin: 0 0 6px 0;
    padding: 5px 20px;

    color: #619f00;
    font-size: 16px;
    font-style: italic;
}
.error {
    padding: 10px 20px;
    margin-top: 25px;
    margin-bottom: 15px;
    background-color: #c93a5b;
    font-weight: bolder;
}

form input, form textarea {
    display: block;
    padding: 5px 5px;
}

form {
    width: 40%;
    margin: 25px auto;

    display: grid;

    grid-template-rows: 15px 35px 15px 35px 35px;
    grid-row-gap: 8px;
}

form input[type='submit'] {
    width: 60%;

    color: #ffffff;
    font-weight: bolder;

    background-color: #07173D;
    border: none;
    justify-self: center;
}
form input[type='submit']:hover {
    cursor: pointer;
    background-color: rgba(7, 23, 61, 0.9);
}

#logout {
    text-align: end;
    margin: 10px 25px;
}
#logout a {
    display: inline-block;
    padding: 5px 15px;

    color: #ffffff;
    letter-spacing: 1px;

    background-color: #07173D;
}
#logout a:hover {
    background-color: rgba(7, 23, 61, 0.9);
}

#dir_tree .dirName {
    font-weight: bolder;
    margin: 0;
}
#dir_tree .fileLink {
    font-style: italic;
}
#dir_tree .fileLink:hover {
    text-decoration: underline;
}

#dir_tree .fileLinkP, #dir_tree .dirBlock{
    margin-left: 25px;
}

#dir_tree .dirBlock {
    padding: 5px 15px;
    margin: 5px;
    /*background-color: rgba(255, 255, 255, 0.25);*/
    border: 1px dotted rgba(7, 23, 61, 0.4);
}

pre {
    padding: 20px 55px;
    background-color: rgba(255, 255, 255, 0.6);
}

/* F O O T E R */

footer {
    display: flex;
    position: fixed;

    right: 0;
    bottom: 0;
    left: 0;

    margin: 0 auto;
}
